/* -------------------------------------- *
Body, Text, and Basics
* --------------------------------------- */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
}

h1,
h2,
h3 {
  font-size: 36px;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-block-start: 50px;
  margin-block-end: -15px;
}

p,
a,
li{
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 100;
}

header h1,
nav div {
  width: 85%;
  margin: auto;
  margin-left: 2%;
  min-width: 900px;
}

main {
  margin-left: 5%;
  width: 80%;
  min-width: 600px;
}

header {
  padding: 0;
}

img#logo {
  width: 350px;
  padding-left: 2%;
}

/* Navigation and Links */

nav a {
  padding-right: 3%;
  text-decoration: solid;
  color: #fff;
}

nav a:hover {
  color: #333;
}

nav {
  background-color: #ccc;
  padding: 8px;
  padding-left: 2%;
}

a {
  text-decoration: solid;
  color: #000;
}

a:hover {
  color: pink;
}

/* Contact Information */

fieldset {
  width: 200px;
  border: 4px outset #cfcfcf;
  border-radius: 20px;
  padding: 20px;
  padding-left: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}

legend {
  background-color: #fff;
  border: 3px outset #cfcfcf;
  border-radius: 15px;
  width: fit-content;
  margin-top: -35px;
  margin-left: -34px;
  padding: 10px 20px;
  font-family: "brandon-grotesque", sans-serif;
  font-style: normal;
  font-weight: 500;
}

::placeholder {
  color: #cfcfcf;
}

.form-textbox {
  border-radius: 5px;
  width: 200px;
  border: 1px ;
  border: 2px outset;
  padding: 5px;
  margin-right: 20px;
  outline: none;
  color: #333;
}

p > textarea {
  width: 200px;
  height: 75px;
  border-radius: 5px;
  border: 1px ;
  border: 2px outset;
  padding: 5px;
  padding-bottom: 20px;
  outline: none;
  resize: none;
  overflow-y: scroll;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.33px;
  font-weight: 400;
}

input.contact-submit-button {
  border-radius: 5px;
  border: 1px ;
  border: 2px outset;
  padding: 5px;
}

input.contact-submit-button:hover {
  background-color: #cfcfcf;
  color: #fff;
}

 /* // SVG // */

 #front_wheel,
 #back_wheel {
   animation: wheel 3s infinite linear;
   transform-origin: center;
   transform-box: fill-box;
 }

 #person {
   animation: bike 1s ease-in-out infinite alternate;
   transform-origin: bottom;
 }

 #hat {
   animation: hat 1s ease-in-out infinite alternate;
   transform-origin: center;
   transform-box: fill-box;
 }

 @keyframes wheel {
   from{
     transform: rotateZ(0deg);
   }
   to {
     transform: rotateZ(360deg);
   }
 }

 @keyframes bike{
   from{
     transform: rotateX(0deg);
   }
   to{
     transform: rotateX(12deg);
   }
 }

 @keyframes hat {
   from {
     transform: translateY(0%) rotateZ(0deg);
   }
   to{
     transform: translateY(35%) rotateZ(20deg);
   }
 }