body {
    margin: 0 auto;
    background-color: grey;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a.button {
    font-size: 16px;
    border: 2px solid #ffffff;
    background-color: rgba(0,0,0, 0.6);
    padding: 7px 12px;
}

a.button:hover {
    color: #000000;
    background-color: #ffffff;
    transition: ease-in .50s;
}

h1 {
    font-family: sofia-pro, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #ffffff;
}

/*// Index and Video Settings //*/

/* Video */

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;    
    z-index: 0;
}

div.video {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Logo Link */

a.homelink {
    z-index: 2;
    margin: auto;
    margin-top: 50px;
}

img.logo {
    width: 300px;
}

/* Navigation Bar - Video Page */

nav.indexnav {
    z-index: 2;
    margin: 0 auto;
    word-spacing: 20px;
}

/*// Home Page //*/

/*// Main Navigation Bar //*/

nav.header {
    background-color: #000000;
    position: relative;
    right: 0;
    left: 0;
    padding-top: 15px;
    z-index: 3;
}

li > a.button {
    border: none;
}

img#header.logo {
    top: 3px;
    left: 1%;
    width: 11vw;
    position: absolute;
}

img {
    width: 100%;    
    object-fit: cover;
    scroll-behavior: smooth;
}

img.picnic {
    margin-top: 0;
}

div.section,
div.section2 {
    position: relative;
    display: flex;
    flex-direction: column;
}

div.section > h1 {
    margin: 0 auto;
    z-index: 2;
    line-height: 85%;
}

a#reserve {
    margin: 0 auto;
    margin-top: 20px;
    z-index: 2;
}

/*// Media Queries //*/

/* // Mobile // */

@media all and (min-width: 0px) {
    .hide-desktop {
        display: none;
    }

    img#header.logo {
        width: 55px;
        z-index: 2;
    }

    div.section > h1 {
        font-size: 9vw;
        margin-top: -40vh;
    }

    nav.header {
        padding-bottom: 43px;
        display: flex;
    }

    nav#index a.button {
        font-size: 18px;
        padding: 7px 12px;
    }

    .hamburger {
        position: absolute;
        overflow: hidden;
        flex-direction: column;
        background-color: #000000;
        right: 0;
        top: 10px;
        margin-right: 4vw;
        display: block;
        color: #ffffff;
        font-size: 30px;
        transform: rotate(90deg);
        z-index: 1;
    }

    .hamburger:hover {
        cursor: pointer;
        color: #c4c4c4;
    }

    ul#nav {
        /* display: none; */
        padding-inline-start: 0px;
        width: 100vw;
    }

    ul#nav li {
        display: block;
    }

    li {
        padding-top: 15px;
        text-align: right;
        padding-right: 2vw;
    }

    li#contact{
        padding-top: 35px;
    }
    
    a.button {
        font-size: 5vw;
        padding-left: 6vw;
        padding-right: 5vw;
    }

    a.button:hover {
        padding-right: 100vw;
    }

    img.picnic {
        width: 100vw;
        height: 55vh;
    }

    a#reserve {
        border: solid #fff 2px;
        margin-top: 5vw;
        font-size: 16px;
        padding: 6px 12px;
    }
}

/* // Tablet // */

@media all and (min-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }

    img#header.logo {
        width: 7vw;
    }

    .hide-desktop {
        display: block;
    }

    nav.header {
        padding-bottom: 0px;
    }

    #nav {
        display: block;
    }

    ul#nav {
        list-style-type: none;
        margin-top: -15px;
        margin-block-end: 15px;
        z-index: 2;
    }

    li {
        padding-top: 0px;
        padding-right: 0;
        float: right;
    }

    li#contact{
        padding-top: 0px;
        padding-right: 2vw;
    }
    
    a.button {
        font-size: 18px;
        padding-left: 1.25vw;
        padding-right: 1.25vw;
        z-index: 3;
    }

    a.button:hover {
        padding: 15px 1.25vw;
    }

    div.section > h1 {
        margin-top: -50vh;
    }

    ul#nav, .hamburger {
        padding-top: 15px;
        display: block;
    }

    .hamburger {
        display: none;
    }

    .hamburger ul#nav {
        display: unset;
    }

    img.picnic {
        height: 63vh;
    }

    a#reserve {
        border: solid #fff 2.5px;
        margin-top: 3.5vw;
        font-size: 2vw;
        padding: 7.5px 15px;
    }
}

/* // Desktop // */

@media all and (min-width: 1200px) {
    img#header.logo {
        width: 80px;
    }

    div.section > h1 {
        font-size: 100px;
        margin-top: -60vh;
    }

    img.picnic {
        height: 70vh;
    }

    a.button {
        font-size: 1.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    a.button:hover {
        padding: 15px 1vw;
        padding-bottom: 15px;
    }

    a#reserve {
        border: solid #fff 3px;
        margin-top: 3vw;
        font-size: 25px;
        padding: 7px 17px;
    }
}