/* // Mobile // */

    a {
        text-decoration: none;
        color: #ffffff;
        font-family: sofia-pro, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    a.button {
        border: 2px solid #ffffff;
        background-color: rgba(0,0,0, 0.6);
        font-size: 5vw;
        padding-right: 3.5vw;
    }

    a.button:hover {
        color: #000000;
        background-color: #ffffff;
        transition: ease-in .50s;
    }

    a#reserve {
        border: solid #fff 2px;
        margin: 0 auto;
        margin-top: 5vw;
        margin-bottom: 80px;
        font-size: 16px;
        padding: 6px 12px;
        z-index: 2;
    }

    a#areas {
        border: solid #fff 2px;
        margin: 0 auto;
        margin-left: 7vw;
        margin-top: 5vw;
        margin-bottom: 100px;
        font-size: 16px;
        padding: 6px 12px;
        z-index: 2;
    }

    a.homelink {
        z-index: 2;
        margin: auto;
        margin-top: 50px;
    }

    article {
        top: 0;
    }

    article.days ul,
    article.times ul,
    article.drinks ul,
    article.prices ul {
        font-family: sofia-pro, sans-serif;
        font-style: normal;
        display: flex;
        flex-direction: column;
        padding-inline-start: 0px;
    }

    article.days ul,
    article.drinks ul {
        padding-left: 0;
        font-weight: 600;
    }

    article.days ul li,
    article.drinks ul li {
        display: inline;
        float: left;
        text-align: left;
    }

    article.times ul {
        right: 0;
    }

    article.times ul
    article.prices ul {
        font-weight: 400;
    }

    article.times ul li,
    article.prices ul li {
        display: inline;
        float: right;
        padding-inline-start: 10vw;
    }

    article.days,
    article.times {
        width: 50%;
    }

    body {
        margin: 0 auto;
        background-color: #ffffff;
    }

    div.events {
        margin: 0 auto;
        width: 100%;
    }
    div.events div {
        margin: 0 auto;
        max-width: 500px;
        min-width: 300px;
        padding-top: 5vw;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    div.events h2 {
        margin-top: 0;
    }

    div.events p {
        max-width: 450px;
    }

    div.events nav {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    div.events nav img {
        margin: 0 auto;
        width: 100%;
    }

    div.events ul {
        margin-top: 0;
        padding-bottom: 7vw;
    }

    div.events ul li {
        padding-bottom: 1vh;
    }

    div.section,
    div.section2 {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    div.section > h1 {
        margin: 0 auto;
        z-index: 2;
        line-height: 85%;
        font-size: 9vw;
        margin-top: -40vh;
    }

    div.section2 {
        height: 50vh;
    }

    div.section2 h1 {
        margin: 0;
        margin-left: 7vw;
        z-index: 2;
        line-height: 85%;
        font-size: 13vw;
        margin-top: -43vh;
    }

    div.section3 {
        padding: 5vw;
        padding-top: 10vh;
        padding-left: 10vw;
        padding-bottom: 25vw;
        margin: 0 auto;
        min-width: 80vw;
        max-height: 600px;
    }

    div.section3 h2,
    div.events h2 {
        font-size: 6vw;
    }

    div.section3 p, 
    div.schedule article,
    div.type article {
        margin: 0;
        font-size: 3vw;
    }

    div.grid {
        position: relative;
        flex-wrap: wrap;
        margin-left: 0;
        background-color: #ffffff;
        z-index: 3;
    }

    div.schedule,
    div.type {
        margin-top: -1vh;
        display: flex;
        position: relative;
    }

    div.video {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #myVideo {
        position: fixed;
        right: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        object-fit: cover;    
        z-index: 0;
    }

    h1 {
        font-family: sofia-pro, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #ffffff;
        z-index: 3;
    }

    h2 {
        font-family: sofia-pro, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #000000;
        margin-bottom: 0;
    }

    h3 {
        font-family: sofia-pro, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #000000;
    }

    .hamburger {
        position: absolute;
        overflow: hidden;
        flex-direction: column;
        background-color: #000000;
        right: 0;
        top: 10px;
        margin-right: 4vw;
        display: block;
        color: #ffffff;
        font-size: 30px;
        transform: rotate(90deg);
        z-index: 1;
    }

    .hamburger:hover {
        cursor: pointer;
        color: #c4c4c4;
    }

    .hide-desktop {
        display: none;
    }

    iframe.map {
        margin: 0 auto;
        right: 0;
        display: block;
        width: 100%; 
        height: 500px;
    }

    img#header.logo {
        top: 3px;
        left: 1%;
        width: 10vw;
        position: absolute;
        z-index: 2;
    }
    img#header.logo:hover {
    animation: logo-spin 2s;
    }
    
    img {
        width: 100%;    
        object-fit: cover;
        scroll-behavior: smooth;
    }

    img.logo {
        width: 300px;
    }

    img.picnic {
        margin-top: 0;
        width: 100%;
        height: 55vh;
    }

    img.bar {
        width: 100%;
        height: 55vh;
    }

    img.sneakpeek {
        width: 100%;
        height: 30vh;
        object-fit: cover;
        object-position: 50% 35%;
    }

    img.space {
        border-top: 15px solid black;
    }

    li > a.button {
        float: right;
        border: none;
        padding-left: 90%;
        padding-right: 10%;
        font-size: 2vw;
    }

    main.menu {
        display: block;
        width: 100%;
    }

    main.menu img.menu1 {
        margin-top: 0;
    }

    main.menu img {
        margin: 0 auto;
        flex-direction: column;
        width: 100vw;
        min-width: 350px;
        max-width: 900px;
        display: block;
    }


    nav.header {
        background-color: #000000;
        position: relative;
        width: 100%;
        right: 0;
        left: 0;
        padding-top: 15px;
        z-index: 3;
        padding-bottom: 43px;
        display: flex;
    }

    nav.header img.logo {
        z-index: 4;
    }

    nav.indexnav {
        z-index: 2;
        margin: 0 auto;
        word-spacing: 20px;
    }

    nav#index a.button {
        font-size: 18px;
        padding: 7px 12px;
    }

    p {
        font-family: sofia-pro, sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #000000;
    }

    p.subtitles {
        margin-top: 0;
        font-family: sofia-pro, sans-serif;
        font-weight: 400;
        color: #000000;
    }

    ul {
    list-style: none;
    float: left;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    color: #000000;
    }

    ul#drinks,
    ul#days {
        padding-inline-start: 0px;
        max-width: 350px;
    }

    ul.info {
        max-width: 400px;
        display: block;
        display: flex;
        flex-direction: column;
    }

    ul#nav {
        position: relative;
        width: 100vw;
        padding-left: 1vw;
        padding-right: 1vw;

    }

    ul#nav li {
        padding-top: 25px;
        padding-bottom: 0px;
        display: block;
    }

    ul#nav li a {
        padding-top: 1vw;
        padding-bottom: 1vw;
        font-size: calc(15px + 2vw);
        
    }

/*// Media Queries //*/

/* // Tablet // */

@media all and (min-width: 800px) {
    a.button {
        font-size: 18px;
        padding-left: 1.25vw;
        padding-right: 1.25vw;
        z-index: 3;
    }

    a.button:hover {
        padding: 15px 1vw;
    }

    a#reserve {
        border: solid #fff 2.5px;
        margin-top: 3.5vw;
        margin-bottom: 80px;
        font-size: 2vw;
        padding: 7.5px 15px;
    }

    a#areas {
        border: solid #fff 2.5px;
        margin-left: 5vw;
        margin-top: 3.5vw;
        margin-bottom: 105px;
        font-size: 2vw;
        padding: 7.5px 15px;
    }

    article.times ul li,
    article.prices ul li {
        padding-inline-start: 5vw;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    div.events h2 {
        font-size: 50px;
    }

    div.events nav img {
        width: 50%;
    }

    div.section > h1 {
        margin-top: -50vh;
    }

    div.section2 h1 {
        margin: 0;
        margin-left: 5vw;
        z-index: 2;
        line-height: 85%;
        font-size: 8vw;
        margin-top: -45vh;
    }

    div.section3 {
        padding-top: 5vh;
        height: 50vh;
        padding-bottom: 0vh;
        max-width: 500px; 
        min-width: 350px;       
    }

    div.section3 h2 {
        font-size: 18px;
    }

    div.section3 p, 
    div.schedule article,
    div.type article {
        margin: 0;
        font-size: 16px;
    }

    div.hamburger {
        display: none;
    }

    div.grid {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        border-top: 5px solid black;
        border-bottom: 5px solid black;
        right: 0;
    }

    .hide-desktop {
        display: block;
    }

    img.picnic {
        height: 63vh;
    }

    img.bar {
        width: 100%;
        height: 55vh;
    }
    
    img#header.logo {
        width: 7vw;
    }

    li {
        display: block;
        padding-top: 0px;
        float: left;
    }

    li.nav {
        padding-top: 0px;
        float: right;
    }

    li > a.button {
        font-size: 2vw;
        border: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 1vw;
        padding-left: 1vw;
    }

    li#contact{
        padding-top: 0px;
    }
    
    nav.header {
        padding-bottom: 0px;
        padding-top: 1vh;

    }

    #nav {
        display: block;
    }

    ul {
        margin-bottom: 0px;
    }

    ul#nav {
        list-style-type: none;
        margin-top: -15px;
        z-index: 2;
        padding-right: 2vw;
    }

    ul#nav li {
        display: block;
        padding-top: 0px;
        float: right;
    }

    ul#nav li a {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: calc(10px + 1vw);
    }

    ul#nav li a:hover {
        padding-top: 20px;
        padding-bottom: 15px;
        font-size: calc(10px + 1vw);
    }

    .hamburger {
        padding-top: 15px;
        display: block;
    }
}

/* // Desktop // */

@media all and (min-width: 1200px) {
    a.button {
        font-size: 1.5vw;
        padding-left: 1vw;
        padding-right: 1vw;
    }

    a.button:hover {
        padding: 15px 1vw;
        padding-bottom: 15px;
    }

    a#reserve {
        border: solid #fff 3px;
        margin-top: 3vw;
        font-size: 25px;
        padding: 7px 17px;
    }

    a#areas {
        border: solid #fff 2.5px;
        margin-left: 5vw;
        margin-top: 3.5vw;
        margin-bottom: 105px;
        font-size: 25px;
        padding: 7.5px 15px;
    }

    div.section > h1 {
        font-size: 100px;
        margin-top: -60vh;
    }

    img.picnic {
        height: 70vh;
    }

    img#header.logo {
        width: 80px;
    }

    ul.nav li a.button {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@keyframes logo-spin {
    from{
        transform: rotateZ(0deg);
      }
      to {
        transform: rotateZ(360deg);
      }
}