/* Main page set-up */

body {
    min-width: 800px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color: black;
    overflow: scroll;
}

header > nav {
    flex-shrink: inherit;
}

main {
    margin-top: 100px;
    margin-inline-start: 300px;
    margin-inline-end: 300px;
    min-width: 800px;
}

h1 {
    margin-block-start: 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 40px;
    margin-bottom: -10px;
    position: relative;
    color: black;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: .5px;
}

p{
    padding-bottom: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

nav {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    display: inline-block;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    text-decoration: none;
    color: black;
}

/* Top Navigation Bar and Button Settings */

nav > a.home {
    font-size: 25px;
}
nav > a.home:hover {
    color: rgb(34, 172, 172)
}

.button {
    margin: 3px;
    border: none;
    border-radius: 10px;
    color: teal;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .button:hover {
    margin: 3px;
    background-color: teal;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: button;
    animation-duration: .5s;
  }

@keyframes button {
    0%      {background-color: white; color: teal;}
    100%    {background-color: teal; color: white;}
}

a.home {
    font-size: 22px;
    color: teal;
}

a.footer {
    font-size: 12px;
    color: white;
}

/* div.header {
    contain: content;
    margin: 5px -20px;
    position: absolute;
    padding-top: 40px;
    background-color: teal;
    width: 100vw;
} */

/* Top Bar Image */

img.header {
    contain: content;
    margin: 5px -20px;
    position: absolute;
    width: 100vw;
    min-width: 800px;
    height: 60px;
    object-fit: cover;
    object-position: 80% 87%;
}

#pagecontainer {
    position: relative;
    min-height: 100vh;
}

/* Footer Navigation Bar */

footer{
    position: static;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    margin: 5px -20px;
    padding: 10px 0px;
    background-color: teal;
    width: 100vw;
    bottom: 0vw;
}

footer > a {
    position: relative;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    bottom: 0vw;
}

footer > a:hover {
    color: teal;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    animation-name: buttontwo;
    animation-duration: .5s;
}

@keyframes buttontwo {
    0%      {background-color: teal; color: white;}
    100%    {background-color: white; color: teal;}
}

/* Image settings */
/* Biography */

img.bank {
    display: inline-block;
    vertical-align: top;
    contain: content;
    width: 300px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

p.bank_container {
    margin-top: -35px;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 13px;
    text-align: left;
    padding-left: 15px;
    position: absolute;
    width: 285px;
    height: 10px;
    background-color: black;
    opacity: .75;
    color: white;
    z-index: 2;
}


#biography.col-left { 
    padding-right: 20px;
}

main.biography {
    display: flex;
}


/* Philosophy */

article#philosophy {
    z-index: 3;
}

main.philosophy {
    display: flex;
}

main.philosophy {
    margin-top: 140px;
    margin-bottom: 80px;
}

img.pond {
    margin-top: -10px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
    width: 500px;
    opacity: 50%;
    display: inline;
}

img.pond:hover {
    opacity: 1;
    z-index: 4;
}

.buttonphoto {
    position: absolute;
    margin-left: 20px;
    margin-top: 328px;
    padding-right: 307px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    visibility: hidden;
    opacity: 1;
    z-index: 5;
}

div.container:hover p.buttonphoto {
    visibility: visible;
    opacity: 1;
}
/* p.buttonphoto:hover {
    visibility: visible;
    opacity: 1;
} */

p.philosophy {
    display: flex;
    z-index: 2;
    position: relative;
    width: 500px;
}

article#philosophy {
    margin-right: -300px;
}

/* Index */

main.monet {
    display: flex;
}

#monet.col-left { 
    padding-right: 20px;
    position: relative;
    margin-right: 300px;
    padding-bottom: 80px;
}

section#monet {
    display: inline;
}

img.portrait {
    width: 300px;
    margin-top: -470px;
    margin-left: 500px;
    position: absolute;
    display: inline-block;
}
