/* .container {
    border: 5px solid #ffcc5c;
    display: flex;
    height: 100%;
    align-items: center; */
    /* justify-content: space-around; 
}*/

/* .container > div {
    flex: 1;

    flex-grow, flex-shrink, flex-basis
 } */

/* .search {
    flex: 2;
}

.logout {
    align-self: flex-start;
}

.home {
    align-self: flex-end;
} */

/* .container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: flex-end;
} */

.container {
    border: 5px solid #ffcc5c;
    display: flex;
    flex-wrap: wrap;
}

.item1 {
    order: 0;
}

.item2 {
    order: 3;
}

.item3 {
    order: 0;
}


/* .home {
    flex: 1 1 0; 

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
} */

/* .logout {
    flex: 1;
    flex-grow: 2;
} */

/* .container > div {
    width: 300px;
} */