/*// Index //*/
body {
    position: relative;
    margin: 0px 0px;
    width: 100vw;
    background-image: url(des342/images/background-1-01.png);
}

img.background {
    z-index: -1;
    top: 0px;
    padding: 0px 0px;
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }

nav {
    position: sticky;
    width: 90%;
    margin: 0 auto;
    height: 50px;
    z-index: 12;
}

nav > div { 
  display: flex;
}

nav > div > a {
    width: 100%;
    text-align: center;
    text-decoration: none;
}

a > p:hover {
  color: #ffe386;
}

a > p {
  color: #ffad00;
}

p {
    font-family: tomarik-introvert, sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*// Index //*/

div.title {
    position: relative;
    width: calc(100% - 15vw);
    max-width: 900px;
    margin: 0 auto;
    top: 8vh;
}

div.title > img {
    display: block;
    
}

img.title-text {
    width: 85%;
    margin: 0 auto;
}

img.shoot {
    width: 80% !important;
    margin: 0 auto;
    margin-right: 2vw;
}

img.shoot:hover {
    animation: wiggle 1.5s linear;
}

div.press-title {
    display: flex;
    position: relative;
    top: 12vh;
    width: calc(60% - 15vw);
    min-width: 300px;
    margin: 0 auto;
}

img.title-cluster {
    display: block;
    width: calc(40px + 3vw);
    margin: 0 auto;
    z-index: 3;
}

img.title-cluster:hover,
img.med-star:hover,
img.mini-star:hover,
img.cluster:hover,
img.clusterparttwo:hover,
img.clusterpartthree:hover {
    animation: spin 1s linear;
}

img.start-text{
    display: block;
    width: 70%;
    object-fit: contain;
    margin: 0 auto;
    animation: shift infinite .75s linear alternate;
}

img.mini-star {
    display: block;
    width: 6%;
    margin: 0 auto;
    margin-right: 0;
    margin-top: -12vw;
}

img.med-star {
    display: block;
    width: 15%;
}

section.one {
    z-index: 3;
}

/*// Index 2.0 //*/

section.two {
    position: relative;
    width: 100%;
    z-index: 1;
    opacity: 0;
    margin-bottom: 0;
    z-index: 0;
}

img.partone {
    position: fixed;
    z-index: 5;
    bottom: 0px;
    width: 100vw;
}

p.body-text {
    position: absolute;
    color: #ffffff;
    background-color: #334f70;
    padding: 15px 25px;
    padding-bottom: 20px;
    border-radius: 20px;
    z-index: 5;
}

p.body-text#one {
    width: calc(200px + 8vw);
    margin-left: 4vw;
    
}

p.body-text#two {
    width: calc(250px + 8vw);
    margin-top: 25vh;
    margin-left: 60vw;
}

img.cluster {
    position: fixed;
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
    opacity: 0;
    z-index: 100;
}

/*// Part Two //*/

img.clusterparttwo,
img.clusterpartthree {
    position: absolute;
    width: 50px;
    margin-top: 20px;
    margin-left: 10px;
}

img.parttwo,
img.partthree {
    position: absolute;
    top: 0px;
    min-height: 100vh;
    overflow: scroll;
    width: 100vw;
    object-fit: cover;
}

section.walking-one {
    display: flex;
    flex-direction: row;
    width: 85%;
}

section.walking-one>img {
    z-index: 4;
    height: 45vw;
    min-height: 270px;
    margin: 0 auto;
    margin-top: calc(30px);
    left: 0;
}

p.body-text#start {
    margin-top: -225px;
    width: calc(200px + 8vw);
    margin-left: 4vw;
}

p.body-text#next {
    opacity: 0;
    width: calc(150px + 8vw);
    margin-top: calc(10px + -40vh);
    margin-left: 60vw;
    background-color: #00234c;
}

p.parttwo {
    width: calc(150px + 8vw);
    margin-top: calc(10px + -30vh);
    margin-left: 4vw;
    opacity: 0;
}

section.splash {
    position: absolute;
    margin: 0 auto;
    margin-top: 25vh;
    width: 100%;
    height: calc(100px + 5vh);
    z-index: 4;
}

img.splash {
    display: block;
    margin: 0 auto;
    width: 50%;
    object-fit: contain;
    opacity: 0;
}

html {
    scroll-behavior: smooth;
}

img.river {
    display: block;
    margin-top: calc(-200px + -25vw);
    min-height: 200px;
    width: 100%;
    opacity: 0;
}

p.body-text.parttwothree {
    width: calc(100px + 8vw);
    margin-top: calc(10px + -60vh);
    margin-left: 55vw;
    opacity: 0;
}

p.body-text.parttwofour {
    width: calc(100px + 8vw);
    margin-top: calc(10px + -40vh);
    margin-left: 60vw;
    opacity: 0;
    background-color: #00234c;
}

a>img.cluster {
    position: absolute;
}

/*// Part Three //*/

p.partthreeone {
    width: calc(250px + 10vw);
    margin-top: calc(10vh);
    margin-left: 10vw;
    opacity: 1;
}

p.partthreetwo,
p.partthreefive {
    width: calc(150px + 10vw);
    margin-top: 5vh;
    margin-left: 45vw;
    opacity: 0;
}

p.partthreethree,
p.partthreesix {
    width: calc(150px + 10vw);
    margin-top: 25vh;
    margin-left: 50vw;
    opacity: 0;
    background-color: #00234c;
}

p.partthreefour {
    width: calc(250px + 10vw);
    margin-top: calc(10vh);
    margin-left: 10vw;
    opacity: 0;
}

p.partthreeseven {
    width: calc(100px + 10vw);
    margin-top: 8vh;
    margin-left: 73vw;
    opacity: 0;
}

p.partthreeeight {
    background-color: #00234c;
    width: calc(100px + 10vw);
    margin-top: 23vh;
    margin-left: 75vw;
    opacity: 0;
}


section.girl {
    position: fixed;
    width: 100%;

}

section.girl>img {
    z-index: 4;
    margin: 0 auto;
    height: 270px;
    margin-top: 50vh;
    margin-left: 5vw;
    padding-right: 12vw;
}

img.dancing,
img.sittingtwo,
img.fairyone,
img.fairytwo {
    opacity: 0;
}

img.fairyone {
    position: absolute;
    left: 18vw;
    width: 500px;
    object-fit: contain;
}

img.fairytwo {
    position: absolute;
    left: 50vw;
    width: 500px;
    object-fit: contain;
}

img.dancing {
    margin-left: -5vw;
}

img.sittingone {
    opacity: 1;
    width: 25vh;
    object-fit: contain;
}
img.sittingtwo {
    padding-top: 30px;
    width: 22vh;
    object-fit: contain;
}


/*// Animations //*/
/*// Index-Animations //*/

@keyframes shift {
    from { transform: translateX(0);}
    to { transform: translateX(2vw);}
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg);}
}

@keyframes wiggle {
    0% { transform: rotate(0deg);}
    25% { transform: rotate(-5deg);}
    50% { transform: rotate(5deg);}
    75% { transform: rotate(-5deg);}
    100% { transform: rotate(0deg);}
}